.compra_container {
  display: flex;
  width: 100%;
  align-items: center;
}

.compra_container_img {
  display: flex;
  justify-content: center;
  width: 50%;
}

.compra_img {
  width: 100%;
  margin-right: 1rem;
}

.compra_container_text {
  width: 50%;
}

.compra_descripcion {
  font-weight: 800;
}

.compra_total {
  font-weight: 800;
}

.boton_compra_nuevo_producto {
  width: 129px;
  height: 51px;
  border-radius: 10px;
  background-color: var(--cor-azul);
  color: var(--cor-blanco);
  font-size: 0.9rem;
}
