 .form_registro{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* margin: 4rem 10%;
    height: 300px; */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;   
 }

.form_registro_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* width: 35%; */
    width: 100%;
}

.form_registro_titulo{
    padding: 0.5rem;
    font-weight: 700;
}

.form_registro_input_container{
    position: relative;
    width: 99%;
}

.form_registro_input{
    width: 100%;
    height: 63px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--cor-azul);
}

.form_registro_eye-show{
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 90% ;
    top: 14.5%; 
}

.form_registro_input::placeholder{
    visibility: hidden;
    color: #00000000;
}
  
.form_registro_input:focus{
    outline: none;
}
  
.form_registro_input__label{
    display: block;
    position: relative;
    bottom: 4rem;
    left: 0.5rem;
    font-size: 1rem;
    transition: all 0.25s;
}
  
.form_registro_input:not(:placeholder-shown) + .form_registro_input__label,
.form_registro_input:focus + .form_registro_input__label{
    position: relative;
    font-size: 0.875rem;
    bottom: 4rem;
    transition: all 0.25s;
}

.input-container--invalid{
    margin-bottom: 0;
}
  
.input-container--invalid .form_registro_input{
    border: 1px solid var(--cor-de-advertencia);
    border-radius: 7px;
}
  
.input-container--invalid .form_registro_input__label{
    color: var(--cor-de-advertencia);
}
  
.form_registro_input__message__error{
    display: none;
}
  
.input-container--invalid .form_registro_input__message__error{
    color: var(--cor-de-advertencia);
    display: block;
    position: relative;
    bottom: 1rem;
}

.form_registro_boton{
    width: 100%;
    height: 62px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-azul);
    color: var(--cor-blanco);
}